{# src/HMA/AppBundle/Resources/Views/App/workshop.html.twig #}

{% extends "HMAAppBundle::layout.html.twig" %}

{% block stylesheets %} {{ parent() }} {% endblock %}

{% block title %} {{ parent() }} - Application {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            
        </div>
    </div>
{% endblock %}
